// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;

    p {
        padding-top: 2px;
    }
}